@media (max-width: 675px) {
  /*Sơ lược trang WEB*/
  #nav-bar .container0 {
    display: grid;
    grid-template-rows: repeat(4, 40px);
    padding: 20px 0px 20px 50px;
    font-weight: 400;
  }
  #nav-bar .container0 a {
    color: black;
  }

  /*Bản thân*/
  .person {
    max-width: 100%;
  }
  .div {
    padding: 50px 50px 20px;
  }
  .border {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px 1fr;
    padding: 40px;
  }
  .space {
    padding-top: 20px;
    position: relative;
  }
  .space strong::after {
    /*TẠO CHẤM XANH*/
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    left: -20px;
    background-color: #228be6;
    border: 4px solid #228be6;
    top: 30px;
    border-radius: 50%;
    z-index: 1;
  }
  .now {
    display: inline;
  }
  .pad {
    margin-bottom: 30px;
  }
  .hobby {
    display: grid;
    padding-top: 24px;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    text-align: center;
    margin-bottom: 12px;
  }

  /*Bằng cấp-chứng chỉ*/
  .web img {
    width: 100%;
  }

  /*Liên kết*/
  #footer a {
    display: none;
  }
}
