#project-cv {
  border: 10px solid #123af0;
}

/**/
i {
  font-size: 20px;
}
.design {
  border: 10px solid #123af0;
  padding: 15px;
}
.design .bor {
  padding-bottom: 20px;
  border-bottom: 1px solid #b2b2b2;
  color: #123af0;
}

/**/
.goals .bor1 {
  border-bottom: 1px solid #e5e5e5;
}

/**/
.time-line .bor1 {
  border-bottom: 1px dashed #788ef1;
}
.time-line .box {
  padding-top: 10px;
}
.time-line .box h3 {
  text-align: center;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  color: #f7f7f7;
  border: 2px solid black;
  background-color: #a89dd5;
  border-radius: 50%;
}
